.message-list {
  list-style-type: none;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.message-list-item {
  margin-left: 2.5rem;
}
